.profile {
    margin: 150px auto;
    width: 300px;
    background-color: white;
    border: 1px solid rgb(204, 220, 233);
    border-radius: 4px;
  }
  
  .description {
    text-align: center;
  }
  
  .avatar {
    width: 200px;
    border-radius: 50%;
    margin-top: 30px;
    background-color:  rgb(204, 220, 233);
    padding-top: 10px;
  }
  
  .name {
    font-size: 26px;
    font-weight: 600;
    line-height: 0.8rem;
  }
  
  .tag,
  .location {
    font-size: 20px;
    color: rgb(139, 139, 139);
    line-height: 1rem;
  }
  
  .stats {
    padding: 0;
    margin-bottom: 0;
    display: flex;
    background-color: rgb(204, 220, 233);
    flex-grow: 1;
  }
  
  .item {
    border-top: 1px solid rgb(153, 153, 153);
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .item:nth-child(2){
    border-left: 1px solid rgb(153, 153, 153);
    border-right: 1px solid rgb(153, 153, 153);
  }
  
  .label {
    color: rgb(139, 139, 139);
  }
  
  .quantity {
    font-size: 22px;
    font-weight: 600;
  }