.statistics {
    margin: 150px auto;
    width: 300px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
  }
  
  .title {
    color: rgb(105, 126, 139);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }
  
  .list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    width: 100%;
    color: rgb(214, 228, 240);
  }
  .item:first-child {
    border-bottom-left-radius: 4px;
  }
  .item:last-child {
    border-bottom-right-radius: 4px;
  }
  
  .percentage {
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
  }